@use './Styles/Utils.scss' as u;
@use './Styles/Components/TitleBar';
@use './Styles/Components/ToolBar/index';

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: u.$bgColor;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    overflow-y: hidden;
    width: 100%;
    height: 100vh;
}

.canvas-container{
    z-index:0;
}

[layer]{
    z-index: var(--layer);
    position: absolute;
}
