@use './Styles/reset';
@use "sass:math";

$bgColor: #f6f6f6;
$shadow: 1px 0px 37px 8px rgb(147 131 131);

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: $bgColor;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    outline: 1px solid red;
    margin: 0;
}

body {
    overflow-y: hidden;
    width: 100%;
    height: 100vh;
}

.canvas-container{
    z-index:0;
}

[layer]{
    z-index: var(--layer);
    position: absolute;
}

header#AcctionBotton {
    $height: 1.9em;
    & {
        display: flex;
        justify-content:flex-end;
        height: $height;
        grid-row: 1;
        top: 0;
        width:100%;
    }
    > div{
        &{
            display: flex;
            border-radius: 0 0 0 10px;
            box-shadow: $shadow;
            background-color: $bgColor;
        }
        > button {
            & {
                @include reset.button;
                display: flex;
                justify-content: center;
                align-items: center;
                height: $height;
                aspect-ratio: 1;
            }
            > img {
                &{
                    display: var(--acctionbotton);
                    filter: brightness(0) invert(0.3);
                }
            }
        }
    }
}
footer#ToolBar{
    $ToolBar: 3.1em;
    & {
        height: $ToolBar;
        width: max-content;

        border-radius: 10px 10px 0px 0px;
        box-shadow: $shadow;

        bottom: 0;
        left: 50%;
        transform: translate(-50%);

        background-color: $bgColor;
    }
    &>:not(:last-child){
            border-right: 1px solid #0000004a;
        }
    > button{
        &{
            @include reset.button;
            height: 100%;
        }
        &#Pencil{
            &{
                position: relative;
            }
            > div#PencilMenu.open{
                display: grid;
            }
            > div#PencilMenu{
                &{
                    $width: 10em;
                    $ratio: 1.5;

                    border-radius: 10px;

                    width: $width;
                    height: $width*$ratio;

                    position: absolute;
                    bottom: $ToolBar+0.7em;
                    left:50%;
                    transform: translate(-50%);

                    box-shadow: $shadow;
                    background-color: $bgColor;

                    display: none;
                    grid-template-columns: math.div($width, 3) 1fr;
                }
                div.circle{
                    &{
                        aspect-ratio: 1/1;

                        border-radius: 50%;
                        border: 2px solid $bgColor;
                        outline: 1px solid rgb(147 131 131);

                        background-color: var(--bgColor);
                    }
                }
                > div.circle{
                    & {
                        width: var(--width);

                        transform: translate(0, -50%);
                        top: 50%;
                        left: calc((var(--width) + 12px) * -1);
                        position: absolute;

                        box-shadow: $shadow;
                    }
                }
                >div.size{
                    & {
                        grid-column: 1 / 2;
                        border-radius: 10px 0px 0px 10px;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        padding: 20px;
                    }
                    input[type="range"] {
                        -webkit-appearance: slider-vertical;
                        width: 100%;
                        accent-color: var(--bgColor);
                    }
                }
                > div.colors{
                    & {
                        grid-column:2/3;
                        border-radius: 0px 10px 10px 0px;

                        display: grid;
                        grid-template-columns: repeat(2, 1fr);
                        grid-template-rows: repeat(4, 1fr);

                        align-items: center;
                        justify-items: center;
                    }
                    > div.circle{
                        & {
                            $width: 34px;
                            width: $width;
                        }
                    }
                    > div.pickr{
                        & {
                            $height: 34px;

                            height: $height;
                            aspect-ratio: 2/1;

                            border-radius: 10px;
                            border: 2px solid $bgColor;
                            outline: 1px solid rgb(147 131 131);

                            background-color: var(--bgColor);

                            grid-row: 4/5;
                            grid-column: 1/3;
                        }
                        > button{
                            &{
                                padding: 0;
                                margin: 0;
                                width: 100%;
                                height: 100%;
                                background: transparent;
                                border-radius: inherit;
                                position: static;
                            }
                            &:before {
                                display: none;
                            }
                            &:after {
                                display: none;
                            }
                            &:focus{
                                box-shadow: unset;
                            }
                        }
                    }
                }
                    > div.pcr-app{
                        $width: 14.25;
                        right: -($width + 0.7em) !important;
                        left: unset !important;
                        top: 50% !important;
                        height: min-content;
                        box-shadow: $shadow;
                        transform: translate(0, -50%);
                    }
            }
        }
        > svg{
            &{
                height: 100%;
            }
        }
    }
}
